.trickContainer {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  height: 20px;
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  margin-right: auto;
}

.trickMenuContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 34px;

  color: black;
  background-color: rgba(255, 255, 255, 0.9);
}

.trickMenuItem:hover {
  background-color: rgba(52, 152, 219, 0.9);
}

.trickMenuItem {
  padding: 2px;
}
.hide {
  display: none;
}

.showTrick {
  display: flex;
}
